html,
body {
    height: 100%;
}
p,
h1,
h2 {
    font-family: 'Noto Serif JP', serif;
}

.flex-container {
    display: grid;
    flex-direction: column;
    margin: 0 auto;
    background-image: url("img/font3.jpg");
    background-size: 100%;
    padding: 5px;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 3em;
    background-color: #CED8F6;
}

ul  {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 60px;
}

li a {
    text-decoration: none;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5rem;
    color: #848484;
    font-weight: 800;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-top: -150px;
    margin-right: 20px;
    flex-basis: 750px;
}

.myImg {
    margin-top: 5px;
    padding-left: 20px;
    flex-basis: 1450px;
}

.knowledge {
    font-family: 'Impact', fantasy;
    margin-top: 350px;
    padding-left:620px;
    color: #CED8F6;
    display: block;
    position: absolute
}

.article {
    text-align: center;
    margin-top: 2em;
}


p {
    font-size: 1.2rem;
    color: #CED8F6;
    padding-left: 20px;
}

.text {
    font-size: 1rem;
    color: #585858;
}

h2 {
    text-align: center;
    color: #424242;
}

h1 {
    margin-top: -60px;
    color: #0e42d7;
    text-align: center;
    font-size: 2rem;
}

.footer {
    background-color: #5882FA;
    flex: 0 0 auto;
}


#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#okno {
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}
#zatemnenie:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
}

.close:hover {background: #e6e6ff;}